[DEFAULT]
# Integracja z UFW
banaction = ufw
sender = root@{{ vps_hostname | default('localhost') }}
ignoreip = 127.0.0.1/8  ::1  {{ fail2ban_ignoreip | default('192.168.50.0/24') }}
bantime  = {{ fail2ban_bantime | default('1h') }}
findtime = {{ fail2ban_findtime | default('10m') }}
maxretry = {{ fail2ban_maxretry | default('5') }}

[sshd]
enabled = true
port    = ssh
filter  = sshd
logpath = %(sshd_log)s
backend = systemd
bantime = {{ fail2ban_bantime_sshd | default('6h') }}
maxretry = {{ fail2ban_maxretry_sshd | default('4') }}

{% if fail2ban_nginx_enabled | default(true) %}
[nginx-http-auth]
enabled = true
port    = http,https
filter  = nginx-http-auth
logpath = {{ fail2ban_npm_logpath | default('/srv/nginx-proxy-manager/data/logs/*access.log') }}
backend = auto
maxretry = {{ fail2ban_nginx_maxretry | default('5') }}

[nginx-botsearch]
enabled = true
port    = http,https
filter  = nginx-botsearch
logpath = {{ fail2ban_npm_logpath | default('/srv/nginx-proxy-manager/data/logs/*access.log') }}
backend = auto
maxretry = {{ fail2ban_nginx_maxretry | default('5') }}

[nginx-bad-request]
enabled = true
port    = http,https
filter  = nginx-bad-request
logpath = {{ fail2ban_npm_logpath | default('/srv/nginx-proxy-manager/data/logs/*access.log') }}
backend = auto
maxretry = {{ fail2ban_nginx_maxretry | default('5') }}
{% endif %}


