# Klucze SSH
*.key
*.pem
*.ppk
id_*

# Zmienne środowiskowe
.env
.env.*
*.env

# Ansible secrets
secrets*.yml
vault.yml
*.age
*.retry

# Python
__pycache__/
*.venv
.venv/

# Logi
*.log

# Dane/backupy
srv/
backups/

# Prywatne konfiguracje (nie commituj z prawdziwymi danymi)
ansible/inventories/prod/hosts.ini