global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']

  - job_name: 'node_exporter'
    static_configs:
      - targets: ['node_exporter:9100']

  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'blackbox_http'
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
        - http://localhost:80
        - http://localhost:9100
        - http://localhost:9101
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox:9115

  - job_name: 'postgres_shared'
    static_configs:
      - targets:
        - observability-postgres_exporter_shared-1:9187
    relabel_configs:
      - target_label: instance
        replacement: 'postgres_shared'

  - job_name: 'postgres_nc'
    static_configs:
      - targets:
        - observability-postgres_exporter_nc-1:9187
    relabel_configs:
      - target_label: instance
        replacement: 'postgres_nc'


