---
services:
  nginx-proxy-manager:
    image: {{ nginx_proxy_manager_image }}
    container_name: {{ nginx_proxy_manager_container_name }}
    restart: unless-stopped
    ports:
      - "{{ nginx_proxy_manager_http_port }}:80"
      - "{{ nginx_proxy_manager_https_port }}:443"
      - "{{ nginx_proxy_manager_admin_port }}:81"
    volumes:
      - {{ nginx_proxy_manager_data_dir }}:/data
      - {{ nginx_proxy_manager_letsencrypt_dir }}:/etc/letsencrypt
    networks:
      - {{ nginx_proxy_manager_network }}

networks:
  {{ nginx_proxy_manager_network }}:
    name: {{ nginx_proxy_manager_network }}
    driver: bridge
