jobs:
{% for instance in monitoring_postgres_instances %}
  - name: postgres_{{ instance.name }}
    dsn: {{ ("host=" ~ instance.host ~ " port=" ~ instance.port ~ " dbname=" ~ instance.db_name ~ " user=" ~ instance.db_user ~ " password=" ~ instance.db_password ~ " sslmode=disable") | to_json }}
    update_every: 10
{% endfor %}



